html {
	background-color: #0066cc;
}

body {
	width: 1280px;
	height: 720px;
	margin:0 auto;
}

button {
	border: none;
}

.logo {
	position: relative;
	top: 30px;
	left: 104px;
	width: 340px;
	height: 140px;
}

.polaroid {
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
	margin-bottom: 20px;
}

.forms{
	position: relative;
	color: white;
	float: right;
	height: 15px;
	margin: 2px;
	padding: 5px 10px 10px 10px;
	font: bold 16px Arial, sans-serif;
	box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab {
	font: bold 20px Arial, sans-serif;
	color: white;
	box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px 20px 10px 20px;
}

.top {
	background-color: #0099ff;
	padding-bottom: 70px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.menu {
		position: relative;
		top: 60px;
}

.content {
	height: 1250px;
	width: 75%;
	margin-top: 39px;
	margin-left: auto;
	margin-right: auto;
	background-color: #0099ff;
	border-radius: 10px 10px 10px 10px;
}

.contentcontainer {
	display: none;
	background-color: white;
	border: 3px solid #0066cc;
	border-radius: 10px;
	width: 90%;
	height: 900px;
	margin-top: 30px;
	position: center;
	box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.footer{
	color: black;
	float: bottom;
}

.btn {
  background-image: -webkit-linear-gradient(top, #0066cc, #0099ff);
  background-image: -moz-linear-gradient(top, #0066cc, #0099ff);
  background-image: -ms-linear-gradient(top, #0066cc, #0099ff);
  background-image: -o-linear-gradient(top, #0066cc, #0099ff);
  background-image: linear-gradient(to bottom, #0066cc, #0099ff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
	border-radius: 28px;
 
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn:active {
    background-color: red;
}
